body{
    background: radial-gradient(circle farthest-corner at center 0, rgba(31,55,86,1) 25%, rgba(20,21,57,1) 100%);

    color: white;

    font-family: 'Barlow Semi Condensed', sans-serif;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.grid-master {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "a1" "a2" "a3";
    height: 100vh;
}
  
.a1 { grid-area: a1; }
  

  
.quadrado{
    border: solid 3px 	#606e85;
    border-radius: 0.5rem;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.quadrado-logo{
    align-self: center;
}
.quadrado-svg{
    width: 65px;
}

.quadrado-score{
    background: white;
    color: 	#3b4363;
    font-size: 3rem;
    font-weight: 700;
    border-radius: 0.5rem;
    width: 75px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.a2 { 
    grid-area: a2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.penta{
    width: 200px;
    text-align: center;
}

.grid-penta{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/*TAMANHO DAS SVG*/
.tesoura{
    width: 30px;
    filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
}






















.grid-roda {
    color: black;
    position:absolute; 
    top: -25%; 
    left: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "b1";
}

.b1 { 
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: b1;

    border-radius: 100rem;
    height: 80px;
    width: 80px;

    background: #333;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);

    outline: 0;

}

.b1:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5), inset 0px 5px 5px 0px black, 0px 0px 0px 3px #8bff00;
    transition: .2s;
}









.grid-roda2 {
    color: black;
    position:absolute; 
    top:15%; 
    left: -25%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "b1";
}

.b2 { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: b1;
    border-radius: 100rem;
    height: 80px;
    width: 80px;

    outline: 0;

    background: #333;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

.b2:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5), inset 0px 5px 5px 0px black, 0px 0px 0px 3px #8bff00;
    transition: .2s;
}



.grid-roda3 {
    color: black;
    position:absolute; 
    top: 15%; 
    left: 85%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "b1";
}

.b3 { 
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: b1;
    border-radius: 100rem;
    height: 80px;
    width: 80px;
    outline: 0;

    background: #333;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

.b3:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5), inset 0px 5px 5px 0px black, 0px 0px 0px 3px #8bff00;
    transition: .2s;
}





.grid-roda4 {
    color: black;
    position:absolute; 
    top: 85%; 
    left: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "b1";
}

.b4 { 
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: b1;
    border-radius: 100rem;
    height: 80px;
    width: 80px; 
    outline: 0;

    background: #333;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}
.b4:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5), inset 0px 5px 5px 0px black, 0px 0px 0px 3px #8bff00;
    transition: .2s;
}




.grid-roda5 {
    color: black;
    position:absolute; 
    top: 85%; 
    left: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "b1";
}

.b5 { 
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: b1;
    border-radius: 100rem;
    height: 80px;
    width: 80px;
    outline: 0;

    background: #333;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}
.b5:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5), inset 0px 5px 5px 0px black, 0px 0px 0px 3px #8bff00;
    transition: .2s;
}





















.a3 { 
    grid-area: a3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules{
    font-size: 1rem;
    letter-spacing: 5px;
    border-radius: 0.5rem;
    font-weight: 100;
    border: solid 3px #606e85;
    margin-top: 30PX;
    padding: 10px 30px;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar{
    display: flex;
}

.modal{
    background: radial-gradient(circle farthest-corner at center 0, rgba(31,55,86,1) 25%, rgba(20,21,57,1) 100%);


    width: 60%;
    min-width: 100px;
    padding: 40px;
    border: 10px solid tan;
    box-shadow: 0 0 0 10px white;
    position: relative;


    border-width: 3px;
    border-radius: 10%;
    border-color: buttonface;
    border-image: initial;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal{
    animation: modal .3s;
}



.grid-rodaW1 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.grid-msg{
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white; 
}

.grid-bt-playAgain{
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bt-playAgain{

    color: white;
    cursor: pointer;
    outline: 0;

    font-size: 1rem;
    letter-spacing: 5px;
    border-radius: 0.5rem;
    font-weight: 100;
    border: solid 3px #606e85;
    padding: 10px 30px;
    background: #00ffff00;
}












