body{
    background: radial-gradient(circle farthest-corner at center 0, rgba(31,55,86,1) 25%, rgba(20,21,57,1) 100%);

    color: white;

    font-family: 'Barlow Semi Condensed', sans-serif;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.grid-master {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "a1" "a2" "a3";
    height: 100vh;
}
  
.a1 { grid-area: a1; }
  

  
.quadrado{
    border: solid 3px 	#606e85;
    border-radius: 0.5rem;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.quadrado-logo{
    align-self: center;
}
.quadrado-svg{
    width: 65px;
}

.quadrado-score{
    background: white;
    color: 	#3b4363;
    font-size: 3rem;
    font-weight: 700;
    border-radius: 0.5rem;
    width: 75px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.a2 { 
    grid-area: a2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.penta{
    width: 200px;
    text-align: center;
}

.grid-penta{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/*TAMANHO DAS SVG*/
.tesoura{
    width: 30px;
}






















.grid-roda {
    color: black;
    position:absolute; 
    top: -25%; 
    left: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "b1";
}

.b1 { 
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: b1;
    background: rgb(255, 255, 255);
    border-radius: 100rem;
    height: 80px;
    width: 80px;
    border: solid 10px hsl(40, 84%, 53%);

    box-shadow: 1px 1px 1px red;
    box-shadow: inset 0px 5px 5px 0px gray;

    outline: 0;
}






.grid-roda2 {
    color: black;
    position:absolute; 
    top:15%; 
    left: -25%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "b1";
}

.b2 { 
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: b1;
    background: rgb(255, 255, 255);
    border-radius: 100rem;
    height: 80px;
    width: 80px;
    border: solid 10px hsl(189, 58%, 57%);
    box-shadow: inset 0px 5px 5px 0px gray;
    outline: 0;
}





.grid-roda3 {
    color: black;
    position:absolute; 
    top: 15%; 
    left: 85%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "b1";
}

.b3 { 
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: b1;
    background: rgb(255, 255, 255);
    border-radius: 100rem;
    height: 80px;
    width: 80px;
    border: solid 10px hsl(230, 89%, 65%);
    box-shadow: inset 0px 5px 5px 0px gray;
    outline: 0;
}





.grid-roda4 {
    color: black;
    position:absolute; 
    top: 85%; 
    left: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "b1";
}

.b4 { 
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: b1;
    background: rgb(255, 255, 255);
    border-radius: 100rem;
    height: 80px;
    width: 80px;
    border: solid 10px hsl(261, 72%, 63%);
    box-shadow: inset 0px 5px 5px 0px gray;
    
    outline: 0;
}





.grid-roda5 {
    color: black;
    position:absolute; 
    top: 85%; 
    left: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "b1";
}

.b5 { 
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: b1;
    background: rgb(255, 255, 255);
    border-radius: 100rem;
    height: 80px;
    width: 80px;
    border: solid 10px hsl(349, 70%, 56%);
    box-shadow: inset 0px 5px 5px 0px gray;
    outline: 0;
}






















.a3 { 
    grid-area: a3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules{
    font-size: 1rem;
    letter-spacing: 5px;
    border-radius: 0.5rem;
    font-weight: 100;
    border: solid 3px #606e85;
    margin-top: 30PX;
    padding: 10px 30px;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar{
    display: flex;
}

.modal{
    color: black;
    background: white;
    width: 60%;
    min-width: 100px;
    padding: 40px;
    border: 10px solid tan;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal{
    animation: modal .3s;
}

.fechar{
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: tan;
    color: white;
    cursor: pointer;
}

.grid-rodaW1 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.grid-msg{
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(0, 0, 0); 
}

.grid-bt-playAgain{
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bt-playAgain{
    font-size: 1.5rem;
    border: 4px solid white;
    background: tan;
    color: white;
    cursor: pointer;
    outline: 0;
}












